@model HomeIndex

@{
    ViewBag.Title = "Machine Log";
}

<div class="page-header">
    <h1>Machine Log</h1>
</div>

<p>
    Viewing the tail of the Blue Collar machine log located at
    <code>~/App_Data/BlueCollar.log</code>. Blue Collar management 
    is configured at <a href="collar">~/collar</a>.
</p>

@Html.ValidationSummary("Whoops", new { @class = "alert alert-block alert-error" })

@if (Model.Entries.Count > 0)
{
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Level</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
    @foreach (LogEntry entry in Model.Entries)
    {
        <tr>
            <td>
                <div class="date-time">
                    <span class="date">@entry.Date.ToString("MMM d")</span>
                    <span class="time">@entry.Date.ToString("h:mm:ss tt")</span>
                </div>
            </td>
            <td>
                <span class="@HomeIndex.CssClassForLogLevel(entry.Level)">@entry.Level</span>
            </td>
            <td>
                <pre class="plain">@entry.Message</pre>
            </td>
        </tr>
    }
    </tbody>
</table>
}