<div class="row">
    <div class="span12">
        <h1 id="qunit-header">
            Tests
            <small>@BlueCollarSection.Section.ApplicationName</small>
        </h1>
        <h2 id="qunit-banner"></h2>
        <div id="qunit-testrunner-toolbar"></div>
        <h2 id="qunit-userAgent"></h2>
        <ol id="qunit-tests"></ol>
        <div id="qunit-fixture"></div>
    </div>
</div>

@section style {
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Static/Css/test.css")">
}

@section script {
<script type="text/javascript">
    var urlRoot = '@Url.Content("~/")'
        jsonUrlRoot = '@Url.Content(BlueCollarSection.Section.Dashboard.HandlerUrl)';

    if (urlRoot.lastIndexOf('/') !== urlRoot.length - 1) {
        urlRoot += '/';
    }

    if (jsonUrlRoot.lastIndexOf('/') !== jsonUrlRoot.length - 1) {
        jsonUrlRoot += '/';
    }
</script>
<script type="text/javascript" src="@Url.Content("~/Static/Js/test.js")"></script>
<script type="text/javascript">
    $(function() {
        var navCollection = new NavCollection([], {showCounts: false, testLink: true, urlRoot: urlRoot});
        navCollection.reset(navCollection.parse());
        navCollection.setCurrent('Tests');
        new NavView({collection: navCollection, el: $('#nav')}).render();
    });
</script>
}