@model IPageViewModel
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Blue Collar @{ Write("v" + Model.Version ); }</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="@Url.Content("~/Static/Css/bootstrap.css")">
        <link rel="stylesheet" href="@Url.Content("~/Static/Css/bootstrap-responsive.css")">
        <link rel="stylesheet" href="@Url.Content("~/Static/Css/collar.css")">
        @RenderSection("style", false)
        <!--[if lt IE 9]>
        <script src="@Url.Content("~/Static/Js/html5.js")"></script>
        <![endif]-->
    </head>
    <body class="@Model.ClassName">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="@Url.Content("~/")">
                        <img src="@Url.Content("~/Static/Img/logo-header.png")" width="32" height="32" alt="">
                        <span>Blue Collar</span>
                    </a>
                    <div class="nav-collapse">
                        <ul id="nav" class="nav"></ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="page" class="container container-page">@RenderBody()</div>

        <div class="container">
            <footer class="footer">
                <p>Built with care by <a href="http://github.com/ChadBurggraf">Chad Burggraf</a>.</p>
                <p>Licensed under the <a href="http://opensource.org/licenses/mit-license.php">MIT License</a>.</p> 
            </footer>
        </div>
        
        @Html.Partial("_Templates")
        @RenderSection("script", false)
    </body>
</html>