@model IPageViewModel
<!DOCTYPE html>
<!--[if lte IE 7]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Blue Collar @{ Write("v" + Model.Version ); }</title>

        <!--[if lt IE 9]>
        <script src="@Url.Content("~/Static/html5.js")"></script>
        <![endif]-->

        <link href="@Url.Content("~/Static/bc.css")" rel="stylesheet"/>
        @RenderSection("style", false)

        <script type="text/javascript" src="//www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load('visualization', '1.0', {'packages':['corechart']});
        </script>
    </head>

    <body class="@Model.ClassName">
        <header>
            <div class="container-fluid">
                <div id="logo">
                    <h3>Dashboard</h3>
                    <p>Blue Collar @{ Write("v" + Model.Version ); }</p>
                </div>
            </div>
        </header>
    
        <div class="container-fluid">
            <div class="sidebar">
                <nav role="navigation">
                    <ul id="nav"></ul>
                </nav>
            </div>

            <div class="content">
                <table id="layout">
                    <tbody>
                        <tr>
                            <td id="main">@RenderBody()</td>
                            <td id="forms"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <footer>
            <div class="container-fluid">
                <a class="badge" href="http://tastycodes.com/" target="_blank">
                    <span>A product of Tasty Codes. Delicious software.</span>
                </a>
            </div>
        </footer>

        @Html.Partial("_Templates")
        @RenderSection("script", false)
    </body>
</html>