<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title (Blue Collar)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap-responsive.min.css")">
    <link rel="Stylesheet" href="@Url.Content("~/assets/css/bluecollar-mvc.css")">
    <!--[if lt IE 9]
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="@Url.Content("~/assets/js/bootstrap.min.js")"></script>
</body>
</html>